* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
	text-transform: capitalize;;
}

body {
	font-family: 'Roboto', 'Arial', sans-serif;
	background-color: white;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab';
}

nav ul {
	padding: 0;
	margin: 0;
}

nav ul > li {
	display: inline-block;
	background-color: black;
	color: white;
	line-height: 50px;
	vertical-align: middle;
	padding: 0 15px;
	margin: 0 5px;
}
