* {
	box-sizing: border-box;
}
p {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
	text-transform: capitalize;;
}

body {
	font-family: 'Helvetica', 'Arial', sans-serif;
	background-color: white;
	margin: 0;
	padding: 0;
}

nav {
	height: 50px;
	width: 100%;
	background-color: black;
}

.nav-links {
	float: right;
}

.contenedor {
	padding: 0 15px 0 15px;
}

ul {
	padding: 0;
	margin: 0;
}

ul > li {
	display: inline-block;
	background-color: black;
	color: white;
	line-height: 50px;
	vertical-align: middle;
	padding: 0 15px;
	margin: 0 5px;
}

.columna {
	float: left;
}

.columna.tres {
	width: 33.33%;
}
.columna.dos {
	width: 50%;
}

.columna-contenido {
	padding: 0 10px;
}

.tiene-clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.clear {
	clear: both;
}

footer {
	border: 1px solid black;
	background-color: white;
	color: black;
	margin-top: 30px;
	padding: 30px 15px 100px 15px;
}
footer > p {
	text-align: center;
}
